{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodOTG | Register</title>

    <link rel="stylesheet" href="{% static 'css/login_styles.css' %}">
</head>
<body>

<div class="container">
    <h2>Join FoodOTG</h2>
    <p class="subtext">Create an account based on your role</p>

    <div class="input-group">
        <button onclick="window.location.href='/customer-register/'">
            Register as Customer
        </button>
    </div>

    <div class="input-group">
        <button class="secondary-btn" onclick="window.location.href='/business-register/'">
            Register as Business Owner
        </button>
    </div>

    <div class="footer-text">
        Already have an account? <a href="/login/">Sign In</a>
    </div>
</div>

</body>
</html>